{% extends "base.html" %} {% block content %}
<!-- tracking_system/templates/tracking_system/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
  </head>
  <body>
    <h1>Welcome to the Product Selection Page</h1>
    <!-- Form without action to submit to the current view (index) -->
    <form method="post">
      {% csrf_token %}
      <h2>Products List</h2>
      {% for product in products %}
      <label for="product_{{ product.id }}">
        <input
          type="checkbox"
          name="selected_products"
          id="product_{{ product.id }}"
          value="{{ product.id }}"
        />
        {{ product.name }} - ${{ product.price }}
      </label>
      <br />
      {% endfor %}
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

{% endblock content %}
